// Color
$blue-100:            #0b2638;
$blue-300:            #1a535c;
$blue-500:            #4ecdc4;

$yellow-500:          #ffe66d;

$red-500:             #ff6b6b;

$gray-900:            #f7fff7;


// Typography
$base-font-size:      18px;
$base-line-height:    1.6;
